.page {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    padding-block: 24px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.section{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}