.sortControls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

.sortLabel {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 600;
    color: var(--color-control-text);
    width: 100%;
    justify-content: space-between;
}

.sortSelect {
    flex: 1;
    min-width: 200px;
    width: 100%;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid var(--color-control-border);
    font-size: 14px;
    background-color: var(--color-control-background);
    color: var(--color-control-text);
    transition: border-color .2s ease, box-shadow .2s ease, background-color .2s ease, color .2s ease;
    cursor: pointer;
    outline: none;
}

.sortSelect:hover {
    border-color: var(--color-indigo-400);
}

.sortSelect:focus-visible {
    outline: 3px solid var(--color-blue-600);
    outline-offset: 1px;
}

.sortSelect option {
    background-color: var(--color-control-background);
    color: var(--color-control-text);
    font-size: 14px;
    padding: 8px;
}

/* === ДОБАВЛЯЕМ АДАПТИВ === */
@media (max-width: 1200px) {
    .sortLabel {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .sortSelect {
        min-width: 115px;
        box-sizing: border-box;
    }
}


@media (max-width: 600px) {
    .favoriteButton {
        transform: scale(0.5);
    }

    .badge {
        transform: scale(0.5);
    }
}
@media (max-width: 460px) {
    .sortSelect {
       padding: 8px 5px;
    }
}